
#content
{ 	text-align:center;
	position:absolute;
	margin-left:610px;
	margin-top:90px;
	width:900px;
	height:795px;
	background-color:gold;
}
#outerbox
{
	position:absolute;

	margin-left:603px;
	margin-top:82px;
	width:915px;
	height:810px;
	background-color:blue;
}
.intro
{
	color:red;
	font-weight:bold;
	font-size: 35px;
}
.link
{
	color:blue;
	font-weight:bold;
	font-size: 20px;
}
a:hover {
  background-color: yellow;
}
ul { 
   padding: 200px;
}
li {
   float: left;
   width: auto;
   list-style: outside none none;
}
